{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage:{{block.super}} {% endblock title %}</title>
</head>
<body>
     {% block content %}
     <link href="{% static 'localcss/login.css' %}" rel="stylesheet" />
      <h1>this is homepage</h1>
      <h3>hiieee</h3>
      <h2>Total Visits:</h2>
      {{ visits }}
      {% if request.user_is_authenticated %}
      <h1>hi there </h1>
      {% endif %}
      {{block.super}}
     {% endblock content %}
    
</body>
