{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth_ui %}
{% load widget_tweaks %}

{% block content %}
<div class="conatiner flex justify-center items-center min-h-screen bg-gray-100" style="align-items: center; height: 100vh;" >
    <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-center text-2xl font-semibold text-gray-800">{% trans "Confirm Email Address" %}</h2>
        <hr class="my-4">

        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            {% if can_confirm %}
                <p class="text-gray-700 text-center">
                    {% blocktrans with confirmation.email_address.email as email %}
                        Please confirm that <a href="mailto:{{ email }}" class="text-blue-500 underline">{{ email }}</a> is an email address for user <strong>{{ user_display }}</strong>.
                    {% endblocktrans %}
                </p>

                {% url 'account_confirm_email' confirmation.key as action_url %}
                <form method="post" action="{{ action_url }}" class="mt-4">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                        {% trans "Confirm" %}
                    </button>
                </form>
            {% else %}
                <p class="text-red-500 text-center">
                    {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                </p>
            {% endif %}
        {% else %}
            {% url 'account_email' as email_url %}
            <p class="text-gray-700 text-center">
                {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="text-blue-500 underline">issue a new email confirmation request</a>.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
