{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}

{% block content %}
<link href="{% static 'localcss/login.css' %}" rel="stylesheet" />
<div class="container mx-auto flex justify-center items-center min-h-screen mt-1">
    <div class="card p-6 bg-gray-100 shadow-lg rounded-lg w-full max-w-md">
        <img src="{% static 'logo/logo.svg' %}" class="flex items-center space-x-3 rtl:space-x-reverse h-8" alt="Site Logo" />
        <h2 class="login text-center text-2xl font-bold">{% trans "Sign Up" %}</h2>
        
        <div class="py-3 text-center">
            {% blocktranslate %}Already have an account? Then please <a class="text-blue-500 hover:underline" href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
        </div>
        
        {% if not SOCIALACCOUNT_ONLY %}
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                
                <div class="inputBox mb-4">
                    {{ form.username|attr:"placeholder:"|add_class:"w-full p-2 border border-gray-300 rounded" }}
                    <span class="user">Username</span>
                </div>
                
                <div class="inputBox mb-4">
                    {{ form.email|attr:"placeholder:"|add_class:"w-full p-2 border border-gray-300 rounded" }}
                    <span>Email</span>
                </div>
                  
                <div class="inputBox mb-4">
                    {{ form.password1|attr:"placeholder:"|add_class:"w-full p-2 border border-gray-300 rounded" }}
                    <span>Password</span>
                </div>
                
                <div class="inputBox mb-4">
                    {{ form.password2|attr:"placeholder:"|add_class:"w-full p-2 border border-gray-300 rounded" }}
                    <span>Confirm Password</span>
                </div>


                <div class="mb-4">
                    <div class="category-toggle">
                        {% for choice in form.category.field.choices %}
                            <input type="radio" id="category_{{ forloop.counter }}" name="{{ form.category.html_name }}" 
                                   value="{{ choice.0 }}" class="hidden peer"
                                   {% if form.category.value == choice.1 %}checked{% endif %}>
                            <label for="category_{{ forloop.counter }}" class="category-option">{{ choice.1 }}</label>
                        {% endfor %}
                    </div>
                </div>            
                {{ redirect_field }}
                <div class="flex justify-center mt-4">
                    <button type="submit" class="enter bg-blue-500 text-black px-4 py-2 rounded mr-2 hover:bg-blue-600">
                        {% trans "Sign Up" %}
                    </button>
                </div>
            </form>
        {% endif %}
        
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" %}
        {% endif %}
    </div>
</div>

{% endblock content %}
