{% extends "base.html" %}
{% load i18n %}
{% load allauth_ui %}

{% block content %}

<div class="container mx-auto flex justify-center items-center min-h-screen mt-10">
    <div class="flex justify-center items-center min-h-screen bg-gray-100 mt-20">
        <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md text-center">
            <h2 class="text-2xl font-semibold text-gray-800">{% trans "Confirm Email Address" %}</h2>
            <hr class="my-4">

            <p class="text-gray-700">
                {% blocktrans %}
                    We have sent an email to you for verification. Follow the link provided to finalize the signup process.
                    If you do not see the verification email in your main inbox, check your spam folder.
                    Please contact us if you do not receive the verification email within a few minutes.
                {% endblocktrans %}
            </p>

            <div class="mt-4">
                <a href="{% url 'account_email' %}" class="text-blue-500 hover:underline">
                    {% trans "Resend verification email" %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
