{# templates/teachers/complete_profile.html #}
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link href="{% static 'localcss/login.css' %}" rel="stylesheet" />

<div class="container flex mx-auto flex justify-center items-center min-h-screen mt-1">
    <div class="card p-6 bg-gray-100 shadow-lg rounded-lg w-full">
        <h2 class="login text-center text-2xl font-bold">Complete Your Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex" style="gap: 10px;">
                <div class="inputBox mb-4">
                    <input type="text" name="first_name" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>First Name</span>
                </div>
                <div class="inputBox mb-4">
                    <input type="text" name="last_name" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Last Name</span>
                </div>
            </div>
            <div class="flex" style="gap: 10px;">
                <div class="inputBox mb-4 active">
                    <input type="text" name="email" style="border-color: black; border: 2px solid; border-radius: 8px;" class="w-full p-2 border border-gray-300 rounded" placeholder="{{ request.user.email }}" disabled>
                    <span>Email</span>
                </div>
                <div class="inputBox mb-4">
                    <input type="tel" pattern="[0-9]{10}"  name="phone" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Phone</span>
                </div>
            </div>
            <div class="flex" style="gap: 10px;">
                <div class="inputBox mb-4 w-full">
                    <input type="" name="address" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Address</span>
                </div>
                <div class="inputBox mb-4">
                    <input type="text" name="city" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>City</span>
                </div>
                <div class="inputBox mb-4">
                    <input type="text" name="state" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>State</span>
                </div>
            </div>
            <div class="flex" style="gap: 10px;">
                <div class="inputBox mb-4">
                    <input type="text" name="subject_specialization" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Subject</span>
                </div>
                <div class="inputBox mb-4 active">
                    <input type="date" name="hire_date" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Hire Date</span>
                </div>
                <div class="inputBox mb-4">
                    <input type="number" min="0" name="years_of_experience" required="required" class="w-full p-2 border border-gray-300 rounded">
                    <span>Experience</span>
                </div>
                <div style="border: radius 2px;width: 4px;">
                    {{ form.is_active|add_class:"w-full p-2 border border-gray-300 rounded" }}
                    <span>Active</span>
                </div>
            </div>
            <div class="flex justify-center mt-4">
                <button type="submit" class="enter bg-blue-500 text-black px-4 py-2 rounded mr-2 hover:bg-blue-600">
                    Update Profile
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
